body,
html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}



.hader {
    background-image: url(images/donation13.jpg);
    background-image: linear-gradient(bottom black gray);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    position: relative;
    margin: 0px;
}

.title-text {
    font-weight: 700;
    font-size: 350%;
}


.donate-here {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.text-center {
    Text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#donate-today {
    margin: 120px;
}

.donate-section {
    text-align: center;
}

.amount-button {
    background-color: #f3f2f2;
    padding: 30px 30px;
    color: black;
    font-weight: 700;
    border: none;
    font-size: 200%;
    text-align: center;
}

.defult-select {
    border: 2px solid tomato;
    color: tomato;
    background-color: #fdd3cb;
}

.center-donate {
    margin: 5px;
    text-align: center;


}

.input-field {
    margin: 50px;
    width: 90%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 22px;


}


.three-donate-plans {
    text-align: center;
}

.donate-hedding {
    font-size: 300%;
}

.donate-plan {

    padding: 40px 40px;
    display: flex;
}

.plan-1 {
    margin: 5px 5px;
    background-color: rgb(229, 243, 248);
    padding: 20px;
    text-align: left;
}

.plan-2 {
    margin: 5px 5px;
    background-color: rgb(255, 217, 216);
    padding: 20px;
    text-align: left;
}

.plan-3 {
    margin: 5px 5px;
    background-color: rgb(253, 227, 193);
    padding: 20px;
    text-align: left;
}

.contibute-section {
    display: flex;
    margin: 100px;
}

.contibute-area {
    width: 50%;
    padding-left: 80px;
}

.contibute-header {
    font-size: 300%;
}

.contibute-area img {
    width: 80%;
    height: 100%;

}

.our-update {
    text-align: center;

}

.uapdate-h {
    font-size: 300%;
}

.input-email {
    border-radius: 3px;
    height: 20px;
    border-color: 2px solid gray;

}

.email-submit {
    background-color: #f36730;
    color: white;
    font-weight: 700;
    margin-left: -6px;
    height: 26px;
}

.email-area {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;

}

.email-subs {
    background-color: #f5d9cc;
    height: 10px;
    width: 1000px;
    border: none;
    font-weight: 700;
    color: white;
    padding: 100px;

}

.div-hide {
    background-color: white;
}

.footer-hadding {
    font-family: cursive;
    color: red;
    margin: 10px;

}

.footer-set {
    background: black;
    height: 50%;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-p {
    font-size: 10px;
}