body,
html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}

.title-text {
    font-weight: 700;
    font-size: 350%;
}

.hader {
    background-image: url(donate-today-main/images/donation13.jpg);
    background-image: linear-gradient(bottom black gray);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    position: relative;
    margin: 0px;
}


.donate-here {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;



}

.text-center {
    Text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#donate-today {
    margin: 120px;
}

.donate-section {
    text-align: center;
}

.amount-button {
    background-color: #f3f2f2;
    padding: 30px 30px;
    color: black;
    font-weight: 700;
    border: none;
    font-size: 200%;
    text-align: center;
}

.defult-select {
    border: 2px solid tomato;
    color: tomato;
    background-color: #fdd3cb;
}

.center {
    margin: 5px;
    text-align: center;

}

.input-field {
    margin: 50px;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 22px;
}

.footer-hadding {
    font-family: bangers;
    color: red;
    margin: 10px;

}

.footer-set {
    background: black;
    height: 50%;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-p {
    font-size: 10px;
}